{{!< default}} <div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            <h2>Weblog</h2>
            {{#foreach posts visibility="all"}}
            {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
    </div>